body{
  background-color: rgb(110, 110, 110)
}

nav {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly;
  width:90%;
  margin:0 5%;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: .25rem;
  font-size: 1.5vw;
}

.project--container{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}

.project-card{
  height: 400px;
  max-width: 300px;
  background: rgba(255, 255, 255, .95);
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  height: fit-content;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  padding: 0 0 5% 0;
}
 .ant-tag{
   /* background-color: aqua; */
   flex: 0 0 100%;
 }

.thumb img{
  max-width: 250px;
  max-height: 250px;
  width:100%;
  height: auto;
}